@import url(reset.css);
@import url("font-awesome-4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');


margin-right: auto;
margin-left: auto;

head {
	
	margin-right: auto;
    margin-left: auto;
    width: 8em;
	text-align: center;
	font-size: 50px;
	padding-top: 50px;
	
}

body {
	background-image: url("images/detroit.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center; 
}

elment {
    margin-right: auto;
    margin-left: auto;
    width: 8em;
	text-align: center;
	font-size: 50px;
	padding-top: 50px;
}

audio {
	padding-left: 1200px;
}


h1 {
	font-family: 'Great Vibes', cursive;
	font-size:50px;
	padding-left: 25px;
	padding-top: 25;

	
}

ol {
	
	padding-top: 50px;
	font-size:25px;
	padding-left: 26px;
	padding-top: 25;
	
	
}

p { 
	font-family: 'Lora', serif;
}

.me {
	font-size:75px;
	padding-top: 250px;
	padding-left: 30px; 
	text-align: center;
	color: white;
	
	
	
}

.box {
	padding: 10px;
	margin-right: auto;
    margin-left: auto;
	margin-bottom: auto;
	margin-top: auto;
	text-align: center;
	background-color: white;
	width: 325px;
    height: 325px;
    border: 3px dashed grey;
	opacity: 0.75;
}

#DATE {

	padding-left: 700px;
	font-weight: bold;
	color: white;
}


.love { font-family: 'Great Vibes', cursive;

	margin-right: auto;
    margin-left: auto;
    width: 8em;
	text-align: center;
	font-size: 25px;
	padding-top: 50px;
}

.warning {
	padding: 9px;
	margin-left: 25px;
    border: 2px solid red;
    border-radius: 5px;
	background-color: red;
	border-style: solid;
	width: 400px;
    height: 75px;
	opacity: 0.90;
}


.pro {
	background-image: url("images/home.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	
}


/* Desktop styles */
#portfolio {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.pro {
	padding-top: 100px;
}

.yay {
	
	padding-top: 25%;
	
}

.item {
	width: 300px;
	display: inline-block;
	background-color: #CCC;
	text-align: center;
}

