@import url(reset.css);

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');

head {
    margin-right: auto;
    margin-left: auto;
    width: 8em;
}

#header {
	
	margin: 20px;
	padding: 30px;
	border: 5px dashed #FF0000;
	max-width: 300px;
	
}



h1 {
	font-family: 'Great Vibes', cursive;
	
}

p { 
	font-family: 'Lora', serif;
}




